<div class="book-detail">
        <h2><%= @book.title %></h2>
        <h3><%= @book.author %></h3>
        <h3><%= @book.publisher %></h3>
        <h4><%= @book.genre %></h4>
        <p><%= @book.description %></p>

        <%= link_to "Back", :back %>
        <%= link_to "Edit", edit_book_path %>
        <%= link_to 'Destroy', book_path(@book),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</div